//份数
$copies : 20;

//一份所占像素
$piece: 32;

@media screen and (width: 320px) {
    html {
        font-size: (320px / $copies);
    }
}

@media screen and (width: 360px) {
    html {
        font-size: (360px / $copies);
    }
}


@media screen and (width: 375px) {
    html {
        font-size: (375px / $copies);
    }
}

@media screen and (width: 411px) {
    html {
        font-size: (411px / $copies);
    }
}

@media screen and (width: 414px) {
    html {
        font-size: (414px / $copies);
    }
}

@media screen and (width: 768px) {
    html {
        font-size: (768px / $copies);
    }
}

@media screen and (width: 1024px) {
    html {
        font-size: (1024px / $copies);
    }
}


@media screen and (width: 1536px) {
    html {
        font-size: (1536px / $copies);
    }
}

html,
body {
    background-color: #fafafc;
}

header {
    position: relative;
    float: left;
    width: 100%;
    height: (280rem / $piece);
    background-image: url(../img/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px (-70rem / $piece);
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    margin-bottom: (70rem / $piece);

    .header-top {
        position: relative;
        width: 100%;
        height: (80rem / $piece);
        padding-top: (15rem / $piece);
    }
}

.search {
    width: (530rem / $piece);
    height: (50rem / $piece);
    float: left;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 0 0 (10rem / $piece) (25rem / $piece);

    .search-icon {
        float: left;
        width: (40rem / $piece);
        height: (40rem / $piece);
        margin: 0 (10rem / $piece);
        background-image: url(../img/person.png);
        background-repeat: no-repeat;
        background-position: (10rem / $piece) (10rem / $piece);
        background-size: 100%;
    }

    input {
        width: (450rem / $piece);
        height: (50rem / $piece);
        border: 0px;
        font-size: (26rem / $piece);
        font-weight: 500;
    }
}

.mine {
    position: absolute;
    top: (6rem / $piece);
    right: (5rem / $piece);
    float: left;
    width: (80rem / $piece);
    height: (50rem / $piece);
    text-align: center;

    .mine-icon {
        margin: 0 auto;
        width: (50rem / $piece);
        height: (42rem / $piece);
        background-image: url(../img/person.png);
        background-repeat: no-repeat;
        background-position: (4rem / $piece) (-67rem / $piece);
        background-size: 80%;
    }

    span {
        font-size: (20rem / $piece);
        color: #dee7f3;
    }
}


/* 导航 */
nav {
    position: absolute;
    bottom: (-45rem / $piece);
    left: (20rem / $piece);
    width: (600rem / $piece);
    height: (100rem / $piece);
    border-radius: (10rem / $piece);
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #cccccc;
}

.nav-list {
    width: 100%;
    height: 100%;

    li {
        float: left;
        width: 20%;
        height: 100%;
        text-align: center;

        .nav-icon {
            margin: 0 auto;
            width: (70rem / $piece);
            height: (70rem / $piece);
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    li:nth-child(1) .nav-icon {
        background-position: (0rem / $piece) (2rem / $piece);
    }

    li:nth-child(2) .nav-icon {
        background-position: (0rem / $piece) (-67rem / $piece);
    }

    li:nth-child(3) .nav-icon {
        background-position: (0rem / $piece) (-136rem / $piece);
    }

    li:nth-child(4) .nav-icon {
        background-position: (0rem / $piece) (-210rem / $piece);
    }

    li:nth-child(5) .nav-icon {
        background-position: (0rem / $piece) (-280rem / $piece);
    }
}

.choose {
    float: left;
    width: (600rem / $piece);
    height: (350rem / $piece);
    margin: 0 (20rem / $piece);
    border-radius: (15rem / $piece);
    margin-bottom: (25rem / $piece);
    overflow: hidden;

    .choose-top {
        width: 100%;
        height: 33.3%;

        li {
            float: left;
            height: 100%;
            font-size: (25rem / $piece);
            color: #ffff;
        }

        span {
            display: block;
            line-height: (120rem / $piece);
        }

        li:nth-child(1) {
            width: (200rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #fa6254;
            background-image: url(../img/h1.png);
            background-repeat: no-repeat;
            background-position: (75rem / $piece) (69rem / $piece);
            background-size: 60%;

            span {
                padding-left: (20rem / $piece);
            }
        }

        li:nth-child(2) {
            width: (130rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #fa7e50;
            background-image: url(../img/h11.png);
            background-repeat: no-repeat;
            background-position: (0rem / $piece) (85rem / $piece);
            background-size: 40%;
            text-align: center;
        }

        li:nth-child(3) {
            position: relative;
            width: (264rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #ffc04b;
            background-image: url(../img/airplane.png);
            background-repeat: no-repeat;
            background-position: (100rem / $piece) (64rem / $piece);
            background-size: 60%;
            color: #ad641d;
            text-align: center;
        }

        li:nth-child(3)::after {
            position: absolute;
            top: (16rem / $piece);
            right: (20rem / $piece);
            content: "方便又便宜";
            display: block;
            width: (130rem / $piece);
            height: (30rem / $piece);
            border-radius: (20rem / $piece);
            border-bottom-left-radius: 0;
            background-color: #f54c45;
            color: #fcd4d2;
            font-size: (22rem / $piece);
            text-align: center;
            line-height: (32rem / $piece);
        }
    }


    .choose-center {
        width: 100%;
        height: 33.3%;

        li {
            float: left;
            height: 100%;
            font-size: (25rem / $piece);
            color: #ffff;
        }

        span {
            display: block;
            line-height: (120rem / $piece);
        }

        li:nth-child(1) {
            width: (200rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #4c98ed;
            background-image: url(../img/h2.png);
            background-repeat: no-repeat;
            background-position: (75rem / $piece) (69rem / $piece);
            background-size: 60%;

            span {
                padding-left: (20rem / $piece);
            }
        }

        li:nth-child(2) {
            width: (130rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #4d9fec;
            background-image: url(../img/traain2.png);
            background-repeat: no-repeat;
            background-position: (0rem / $piece) (85rem / $piece);
            background-size: 40%;
            text-align: center;
        }

        li:nth-child(3) {
            width: (130rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #50aced;
            text-align: center;
        }

        li:nth-child(4) {
            width: (132rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #52b8ed;
            text-align: center;
        }
    }


    .choose-down {
        width: 100%;
        height: 33.3%;

        li {
            float: left;
            height: 100%;
            font-size: (25rem / $piece);
            color: #ffff;
        }

        span {
            display: block;
            line-height: (120rem / $piece);
        }

        li:nth-child(1) {
            width: (200rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #38c3a3;
            background-image: url(../img/h3.png);
            background-repeat: no-repeat;
            background-position: (78rem / $piece) (50rem / $piece);
            background-size: 60%;

            span {
                padding-left: (20rem / $piece);
            }
        }

        li:nth-child(2) {
            width: (130rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #4eca82;
            background-image: url(../img/h4.png);
            background-repeat: no-repeat;
            background-position: (0rem / $piece) (88rem / $piece);
            background-size: 50%;
            text-align: center;
        }

        li:nth-child(3) {
            width: (130rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #59ce72;
            text-align: center;
        }

        li:nth-child(4) {
            width: (132rem / $piece);
            margin-right: (2rem / $piece);
            margin-bottom: (2rem / $piece);
            background-color: #64d262;
            text-align: center;
        }
    }
}


.choice {
    float: left;
    width: (580rem / $piece);
    height: (210rem / $piece);
    padding: 0 (30rem / $piece);

    li {
        position: relative;
        float: left;
        width: 20%;
        height: (60 / $piece);
        margin-bottom: (15rem / $piece);
        text-align: center;

        .choice-icon {
            margin: 0 auto;
            width: (50rem / $piece);
            height: (50rem / $piece);
            margin-bottom: (10rem / $piece);
            background-image: url(../img/nav-sprite.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        span {
            font-size: (20rem / $piece);
            color: #606060;
        }
    }


    li:nth-child(1) .choice-icon {
        background-position: (0rem / $piece) (3rem / $piece);
    }

    li:nth-child(2) .choice-icon {
        background-position: (0rem / $piece) (-48rem / $piece);
    }

    li:nth-child(3) .choice-icon {
        background-position: (0rem / $piece) (-98rem / $piece);
    }

    li:nth-child(4) .choice-icon {
        background-position: (0rem / $piece) (-147rem / $piece);
    }

    li:nth-child(5) .choice-icon {
        background-position: (0rem / $piece) (-198rem / $piece);
    }

    li:nth-child(6) .choice-icon {
        background-position: (0rem / $piece) (-246rem / $piece);
    }

    li:nth-child(7) .choice-icon {
        background-position: (0rem / $piece) (-297rem / $piece);
    }

    li:nth-child(8) .choice-icon {
        background-position: (0rem / $piece) (-345rem / $piece);
    }

    li:nth-child(9) .choice-icon {
        background-position: (0rem / $piece) (-397rem / $piece);
    }

    li:nth-child(10) .choice-icon {
        background-position: (0rem / $piece) (-448rem / $piece);
    }


    li:nth-child(9)::after {
        position: absolute;
        top: 0;
        right: 0;
        content: "NEW";
        display: block;
        width: (66rem / $piece);
        height: (30rem / $piece);
        background-color: #fc7451;
        border-radius: (30rem / $piece);
        color: #fdefeb;
        text-align: center;
        line-height: (30rem / $piece);
    }
}


.special-sale {
    float: left;
    width: 100%;
    height: (430rem / $piece);
    margin-bottom: (15rem / $piece);
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background-color: #ffffff;

    .special-sale-top {
        width: 100%;
        height: (70rem / $piece);

        .sale-top-left {
            float: left;
            width: (140rem / $piece);
            height: (40rem / $piece);
            margin: (10rem / $piece) (10rem / $piece) 0;
            background-image: url(../img/special.png);
            background-repeat: no-repeat;
            background-position: (0rem / $piece) (10rem / $piece);
            background-size: 100%;
        }


        .sale-top-right {
            float: right;
            width: (90rem / $piece);
            height: (30rem / $piece);
            margin: (20rem / $piece) (20rem / $piece) 0;
            background-color: #ff5f9e;
            text-align: center;
            line-height: (32rem / $piece);
            border-radius: (15rem / $piece);
            color: #ffedf6;
        }
    }
}

.special-sale-content {
    width: (600rem / $piece);
    height: (330rem / $piece);
    padding: (10rem / $piece);

    li {
        float: left;
    }

    li:nth-child(1) {
        position: relative;
        width: 50%;
        height: 100%;
        margin-right: (10rem / $piece);
        background-color: #f9f9f9;

        img {
            width: 100%;
            height: 50%;
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: (24rem / $piece);
            font-weight: bold;
            margin: (12rem / $piece);
            line-height: (40rem / $piece);
        }

        span {
            font-size: (30rem / $piece);
            color: #fe5669;

        }

        i {
            font-size: (14rem / $piece);
        }

        strong {
            font-size: (25rem / $piece);
        }
    }

    li:nth-child(1)::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "爆款";
        width: (60rem / $piece);
        height: (30rem / $piece);
        background-color: #fd3a51;
        color: #fed7db;
        text-align: center;
        line-height: (30rem / $piece);
    }


    li:nth-child(2) {
        position: relative;
        width: (290rem / $piece);
        height: (140rem / $piece);
        margin-bottom: (10rem / $piece);
        background-color: #f9f9f9;

        h2 {
            float: left;
            width: (120rem / $piece);
            font-size: (30rem / $piece);
            margin: (40rem / $piece) (10rem / $piece) (10rem / $piece);
            color: #fc4157;
        }

        p {
            float: left;
            width: (160rem / $piece);
            font-size: (20rem / $piece);
            margin: 0 (10rem / $piece) (10rem / $piece);
            color: #7e7e7e;
        }

        img {
            position: absolute;
            top: (20rem / $piece);
            right: (20rem / $piece);
            float: right;
            width: (90rem / $piece);
            height: (90rem / $piece);
        }
    }

    li:nth-child(3) {
        width: (140rem / $piece);
        height: (180rem / $piece);
        margin-right: (10rem / $piece);
        background-color: #f9f9f9;
        text-align: center;

        h2 {
            float: left;
            width: (120rem / $piece);
            font-size: (25rem / $piece);
            margin: (10rem / $piece) (10rem / $piece) (10rem / $piece);
            color: #6cacfe;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: (20rem / $piece);
            color: #878787;
        }

        img {
            float: left;
            margin-left: (30rem / $piece);
            width: (90rem / $piece);
            height: (90rem / $piece);
        }
    }

    li:nth-child(4) {
        width: (140rem / $piece);
        height: (180rem / $piece);
        background-color: #f9f9f9;
        text-align: center;

        h2 {
            float: left;
            width: (120rem / $piece);
            font-size: (25rem / $piece);
            margin: (10rem / $piece) (10rem / $piece) (10rem / $piece);
            color: #54ca73;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: (20rem / $piece);
            color: #878787;
        }

        img {
            float: left;
            margin-left: (30rem / $piece);
            width: (90rem / $piece);
            height: (90rem / $piece);
        }
    }
}


.hot-active {
    float: left;
    width: 100%;
    height: (640rem / $piece);
    margin-bottom: (15rem / $piece);

    .hot-active-top {
        width: 100%;
        height: (70rem / $piece);
        margin-bottom: (4rem / $piece);
        background-color: #ffffff;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;

        .active-top-left {
            float: left;
            width: (140rem / $piece);
            height: (40rem / $piece);
            margin: (10rem / $piece) (10rem / $piece) 0;
            background-image: url(../img/special.png);
            background-repeat: no-repeat;
            background-position: (0rem / $piece) (-27rem / $piece);
            background-size: 100%;
        }

        img {
            float: left;
            width: (70rem / $piece);
            height: (30rem / $piece);
            margin: (18rem / $piece) (10rem / $piece) 0;
        }


        .active-top-right {
            float: right;
            width: (170rem / $piece);
            height: (30rem / $piece);
            margin: (20rem / $piece) (20rem / $piece) 0;
            background-color: #ff5f9e;
            text-align: center;
            line-height: (32rem / $piece);
            border-radius: (15rem / $piece);
            color: #ffedf6;
        }
    }


    .hot-active-list {
        width: 100%;
        height: (400rem / $piece);

        li {
            float: left;
            margin-bottom: (5rem / $piece);
        }

        li:nth-child(1) {
            width: (316rem / $piece);
            height: (250rem / $piece);
            margin-right: (5rem / $piece);
        }

        li:nth-child(2) {
            width: (316rem / $piece);
            height: (250rem / $piece);
        }

        li:nth-child(3) {
            width: (316rem / $piece);
            height: (150rem / $piece);
            margin-right: (5rem / $piece);
        }

        li:nth-child(4) {
            width: (316rem / $piece);
            height: (150rem / $piece);
        }

        li:nth-child(5) {
            width: (316rem / $piece);
            height: (150rem / $piece);
            margin-right: (5rem / $piece);
        }

        li:nth-child(6) {
            width: (316rem / $piece);
            height: (150rem / $piece);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}


.remark {
    float: left;
    width: 100%;
    height: (100rem / $piece);
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: (10rem / $piece);


    li {
        float: left;
        width: 33.3%;
        height: 100%;
        text-align: center;
    }

    img {
        width: (35rem / $piece);
        height: (35rem / $piece);
        margin: (15rem / $piece) 0 (7rem / $piece);
    }

    span {
        display: block;
        width: 100%;
        font-size: (18rem / $piece);
    }
}


footer {
    float: left;
    width: 100%;
    height: (100rem / $piece);
    margin-bottom: (15rem / $piece);

    .footer-top {
        width: 100%;
        height: (40rem / $piece);
        line-height: (40rem / $piece);
        margin-bottom: (10rem / $piece);

        span:nth-child(1) {
            display: block;
            float: left;
            margin-left: (150rem / $piece);
        }

        .footer-icon {
            float: left;
            width: (35rem / $piece);
            height: (35rem / $piece);
            background-image: url(../img/un_icon_sites.png);
            background-repeat: no-repeat;
            background-position: (0rem / $piece) (-370rem / $piece);
            background-size: 200%;
        }
    }

    p {
        width: 100%;
        height: (30rem / $piece);
        text-align: center;
        color: #b9b9b9;
        font-size: (20rem / $piece);
    }
}