/* 头部 导航栏 */
.topnav{
    float: left;
    width: 100%;
    height: 40px;
    background-color: #333333;
}


.topnav-title{
    float:left;
    width: 530px;
    height: 40px;
    line-height: 40px;
}


.topnav-title li{
    float: left;
    padding-right: 5px;    
}

.topnav-title-span{
    font-size: 12px;
    color: #b0b0b0;
}

.topnav-title-icon{
    font-size: 20px;
    color: #3d3b3a;
}


/* 标题 列表栏 */
.title{
    float: left;
    width: 100%;
    height: 100px;
}

.title-logo{
    float: left;
    width: 56px;
    height: 56px;
    padding-top: 23px;
    line-height: 100px;
}


.title-title-img{
    width: 163px;
    height: 66px;
    float: left;
    padding: 20px 18px 0;
    line-height: 100px;
}

.title-list{
    float: left;
    width: 635px;
    height: 100px;
    line-height: 100px;
}

.title-list li{
    float: left;
    padding-right: 23px;
    font-size: 15px;
}


/* 轮播图 */
.floatImg{
    float: left;
    width: 100%;
    height: 460px;
    margin-bottom: 15px;
}

.bigImg{
    float: left;
    width: 976px;
    height: 460px;
    /* background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 140% 100%; */
}

.bigImg img{
    width: 976px;
    height: 460px;
}


.bigImg-list{
    float: left;
    width: 250px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.6);
}

.bigImg-lists-nav{
    float: left;
    width: 250px;
    height: 460px;
    background-color: #6dc9ee;
}

.bigImg-list-first{
    padding: 30px 0 27px 28px;
    
}

.bigImg-list h2{
    float: left;
    width: 112px;
    height: 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

.bigImg-list i{
    color: rgba(255, 255,255, 0.6);
    margin-left: 70px;
}


.bigImg-list-others{
    padding-left: 28px;
    padding-bottom: 29px;
}


.bigImg-list i{
    padding-left: 2px;
}


/* 其他图片 */
.otherImg{
    float: left;
    width: 100%;
    height: 170px;
    padding-bottom: 63px;
}

.otherImg-imgs{
    float: left;
    width: 100%;
    height: 170px;
}

.otherImg-imgs li{
    float: left;
}

.otherImg-imgs-first{
    padding-right: 15px;
}

.otherImg-imgs-other{
    padding-right: 15px;
}

.otherImg-imgs-first img{
    width: 233px;
    height: 170px;    
}

.otherImg-imgs-other img{
    width: 316px;
    height: 170px;
}


.otherImg-imgs-last img{
    width: 316px;
    height: 170px;
}



/* 商品列表 */
.product{
    float: left;
    width: 100%;
    height: 810px;
    background-color: #f5f5f5;
}

.product-top{
    width: 100%;
    height: 30px;
    padding-top: 80px;
    padding-bottom: 15px;
}

.product-top h1{
    float: left;
    font-size: 23px;
    font-weight: inherit;
}

.product-top h3{
    float: right;
    font-size: 15px;
    padding-top: 3px;
    padding-right: 25px;
    color: #81797b;
}

.product-main{
    float: left;
    width: 100%;
    height: 615px;
    padding-bottom: 70px;
}

.product-main-left{
    float: left;
    width: 233px;
    height: 625px;
}

.product-main-left img{
    width: 233px;
    height: 625px;
}


.product-mian-right{
    float: left;
    width: 993px;
    height: 615px;
}


.product-mian-right li{
    float: left;
    width: 235px;
    height: 305px;
    background-color: #fff;
    margin-left: 13px;
    margin-bottom: 15px;
}

.product-img{
    width: 110px;
    height: 110px;
    margin: 37px 63px;
}

.product-img-getTop{
    width: 110px;
    height: 110px;
    margin: 27px 60px 48px;
}

.product-img-getTop img{
    width: 121px;
    height: 129px;
}


.product-img img{
    width: 110px;
    height: 110px;
}


.product-mian-right li h2{
    width: 100%;
    height: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

.product-mian-right li p{
    width: 100%;
    height: 13px;
    padding-bottom: 23px;
    color: #d0cfce;
    font-size: 12px;
    text-align: center;
}

.now-money{
    display: block;
    color: #ff8d52;
    font-size: 15px;
    text-align: center;
}

.before-money{
    padding-left: 3px;
    font-size: 13px;
    color: #d9dddd;
    text-decoration: line-through;
}

.product-right-topOne{
    float: left;
    width: 64px;
    height: 20px;
    background-color: #ffac13;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin-left:89px;
}

.product-right-topTwo{
    float: left;
    width: 64px;
    height: 20px;
    background-color: #e53935;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin-left:89px;
}


/* 底部 导航栏 */
.bottomnav{
    float: left;
    width: 100%;
    height: 211px;
}

.bottomnav-main{
    width: 100%;
    height: 113px;
    margin-top: 57px;
}


.bottomnav-main ul{
    float: left;
    width: 72px;
    height: 113px;
    margin-right: 90px;
}

.bottomnav-main-first{
    padding-bottom: 30px;
    font-size: 14px;
}

.bottomnav-main-other{
    padding-bottom: 12px;
    color: #7f7c89;
    font-size: 12px;
}

.bottomnav-main-right{
    float: right;
    width: 242px;
    height: 113px;
    border-left: 2px solid #f7f7f7;
    text-align: center;
}

.bottomnav-main-right h1{
    font-size: 23px;
    color: #ff8416;
    margin-bottom: 7px;
    margin-top: 5px;
}

.bottomnav-main-right p{
    font-size: 12px;
    margin-bottom: 5px;
    color: #7f7c89;
}

.bottomnav-main-right span{
    font-size: 12px;
    color: #7f7c89;
}


/* 底部 版权栏 */
.copyright{
    float: left;
    width: 100%;
    height: 175px;
    background-color: #fafafa;
}

.copyright-main{
    width: 770px;
    height: 58px;
    margin: 32px 0 33px;
}

.copyright-logo{
    float: left;
    width: 55px;
    height: 55px;
    margin-right: 10px;

}

.copyright-logo img{
    border-radius: 2px;
}

.copyright p{
    float: left;
    padding-top: 5px;
    padding-bottom: 4px;
    color: #7f7c89;
}

.copyright-titleOne{
    float: left;
    width: 700px;
    height: 15px;
    color: #c9c9ce;
    padding-bottom: 1px;
}

.copyright-titleTwo{
    float: left;
    width: 700px;
    height: 15px;
    color: #c9c9ce;
}

.copyright-bottom-font{
    width: 100%;
    height: 22px;
    text-align: center;
    font-size: 20px;
    color: #c2c2c2;
}