body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}


@media screen and (width: 1280px) {
    header {
        width: 1280px;
    }
}


header{
    float: left;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d8dcde;
    line-height: 40px;

    div{
        float: left;
        height: 100%;
        text-align: center;
        color: #ababab;
        font-size: 13px;
    }

    .header-left{
        text-align: right;

        span{
            display:block;
            margin-right: 50px;
        }
    }

    .header-centero{
        border-left: 1px solid #d8dcde;
        border-right: 1px solid #d8dcde;
    }

    .header-centert{
        border-right: 1px solid #d8dcde;
    }

    .header-right{
        text-align: left;
    }


    .regeister{
        float: left;
        width: 70px;
        height: 20px;
        margin: 8px 13px 0 40px;
        background-color: #e61e25;
        border-radius: 2px;
        text-align: center;
        color: #f9d6d7;
        line-height: 20px;
        font-size: 15px;
        font-weight: bold;
    }
}



