/* 顶部 */
.topnav{
    float: left;
    width: 100%;
    height: 30px;
    background-image: url(../img/title-background.png); 
}

.topnav-title{
    width: 100%;
    height: 30px;  
    
}


.topnav-title span{
    float: left;
    font-size: 12px;
    color: #898989;
    padding-left: 19px;
    line-height: 30px;
}

.left-title{
    float: left;
    width: 460px;
    height: 37px; 
    padding-left: 15px;
}

.left-title li{
    float: left;
    font-size: 12px;
    color: #898989;
    line-height: 30px;
}

.title-cut{
    padding: 0 10px;
}


.right-title{
    float: left;
    width: 406px;
    height: 37px; 
    padding-left: 15px;
}


.right-title li{
    float: left;
    font-size: 12px;
    color: #898989;
    line-height: 30px;
}


.title-icon-one{
    width: 16px;
    height: 16px;
    background-image: url(../img/jingling.png);
    background-position: 8px 10px;
    background-repeat: no-repeat;
    padding-right: 10px;
    padding-top: 7px;
}

.title-icon-two{
    width: 16px;
    height: 16px;
    background-image: url(../img/jingling.png);
    background-position: -52px 11px;
    background-repeat: no-repeat;
    padding-right: 10px;
    padding-top: 7px;
}


.title-down{
    padding-left: 10px;
}

/* 中间部分 */
.center{
    float: left;
    width: 100%;
    height: 180px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size:100% 180px;
}

/* 大图 */
.center-bigimg{
    float: left;
    padding-bottom: 15px;
}


/* 搜索列 */
.search-list{
    float: left;
    width: 100%;
    height: 95px;
}

.search-left-logo{
    float: left;
    width: 230px;
    height: 47px;
    margin-top: 25px;
    border-right: 1px solid black;
}


.search-left-logo img{
    position: relative;
    bottom: 14px;
}


.search-weather{
    float: left;
    width: 250px;
    height: 65px;
    padding-top: 15px;
    padding-right: 55px;
}

.search-weather img{
    float: left;
}

.search-weather-font{
    position: relative;
    right: 25px;
    float: left;
    width: 125px;
    height: 57px;
    padding-top: 15px;
}


.search-weather-font h1{
    float: left;
    font-size: 25px;
    padding-bottom: 3px;
}


.search-weather-font span{
    float: left;
    font-size: 12px;
    padding-left: 3px;
}


.search-weather-font p{
   float: left;
}

/* 搜索框 */
.search-input{
    float: left;
    width: 441px;
	height: 65px;
}

.search-input ul:first-child{
    width: 340px;
    height: 15px;
    padding: 14px 0 5px 10px;
}

.search-input li{
    float: left;
    padding: 0 4px;
}


.search-top-title{
    font-weight: bold;
}

.search-top-icon{
    padding: 0 5px;
}


.search-border{
    width: 440px;
    height: 25px;
    margin-left: 10px;
    border: 1px solid #d6c8bc;
}


.search-border i{
    width: 12px;
    height: 12px;
    padding: 0 4px 0 8px;
    margin-top: 5px;
}

.search-border img{
    padding-top: 7px;
}


.search-border input{
    position: relative;
    bottom: 2px;
    width: 290px;
    height: 22px;
    color: #d4d4d4;
    border: 1px solid #ffffff;
}

.search-border div{
    float: right;
    width: 68px;
    height: 24px;
    background-image: url(../img/input.png);
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
}

.search-hot{
    width: 340px;
    height: 40px;
    padding-top: 10px;
    padding-left: 14px;
}

.search-hot li:first-child{
    font-weight: bold;
    padding: 0;
}

.search-hot li{
    padding: 0 10px;
}


/* 列表 */
.ul-title{
    float: left;
    width: 100%;
    height: 40px;
}

.ul-title ul{
    width: 100%;
    height: 40px;
    background-image: url(../img/ul-background.png);
    background-repeat: no-repeat;
    background-size: 100% 40px;
}

.ul-title ul li{
    position: relative;
    top: 8px;
    left: 84px;
    float: left;
    padding: 0px 14px;
    font-family: SimSun;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: 0px;
    color: #ffffff;
}


.login{
    float: left;
    width: 100%;
    height: 47px;
}

.login ul{
    float: left;
    width: 92%;
    height: 47px;
    background-image: url(../img/login-background.png);
}

.login ul li{
    position: relative;
    top: 17px;
    right: -115px;
    float: left;
    padding-right: 14px;
    color: #b6735b;
}

.login ul li input{
    position: relative;
    bottom: 5px;
    width: 117px;
	height: 23px;
	border: solid 1px #c18d65;
    opacity: 0.7;
    line-height: 47px;
}


.login-search{
    position: relative;
    bottom: 2px;
    width: 53px;
    height: 23px;
    color: #fff;
    text-align: center;
    line-height: 23px;
    background-image: url(../img/red-backgroundpng.png);
}

.login ul li a,
.login ul li i{
    color: #325088;
}

.login ul li img{
    position: relative;
    bottom: 5px;
    width: 124px;
	height: 24px;
}

.login-right{
    position: relative;
    bottom: 13px;
    left: -2px;
    width: 140px;
	height: 38px;
    color: #fff;
    margin-left: 90px;
    text-align: center;
    line-height: 39px;
    background-image: url(../img/note-background.png);
    background-repeat: no-repeat;
}

