//份数
$copies : 30;

//一份所占像素
$piece: 24;

@media screen and (width: 320px) {
    html {
        font-size: (320px / $copies);
    }
}

@media screen and (width: 360px) {
    html {
        font-size: (360px / $copies);
    }
}


@media screen and (width: 375px) {
    html {
        font-size: (375px / $copies);
    }
}

@media screen and (width: 411px) {
    html {
        font-size: (411px / $copies);
    }
}

@media screen and (width: 414px) {
    html {
        font-size: (414px / $copies);
    }
}

@media screen and (width: 768px) {
    html {
        font-size: (768px / $copies);
    }
}

@media screen and (width: 1024px) {
    html {
        font-size: (1024px / $copies);
    }
}


@media screen and (width: 1536px) {
    html {
        font-size: (1536px / $copies);
    }
}

html,
body {
    background-color: #fafafa;
}

header {
    float: left;
    width: 100%;
    height: (185rem / $piece);
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.user {
    position: relative;
    float: left;
    width: 100%;
    height: (184rem / $piece);
    text-align: center;

    .user-icon {
        position: absolute;
        top: (-65rem / $piece);
        right: (300rem / $piece);
        width: (122rem / $piece);
        height: (122rem / $piece);
        border-radius: 50%;
        background-image: url(../images/person.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 2px solid #ffffff;
    }

    h2 {
        margin: 0 auto;
        margin: (75rem / $piece) 0 (15rem / $piece);
        font-size: (30rem / $piece);
        color: #383838;
    }

    p {
        width: 100%;
        text-align: center;
        color: #bfbfbf;
        font-size: (24rem / $piece);
    }

    .user-icon::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        display: block;
        width: (36rem / $piece);
        height: (36rem / $piece);
        border-radius: 50%;
        background-image: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #f53647;
    }
}


nav {
    float: left;
    width: 100%;
    height: (441rem / $piece);

    .nav-list {
        width: 100%;
        height: 100%;

        li {
            float: left;
            width: (238rem / $piece);
            height: (220rem / $piece);
            background-color: #ffffff;
            border-top: 1px solid #f6f6f6;
            border-right: 1px solid #f6f6f6;
            text-align: center;
        }

        .nav-icon {
            margin: (40rem / $piece) auto;
            margin-bottom: (15rem / $piece);
            width: (96rem / $piece);
            height: (96rem / $piece);
            border-radius: 50%;
            background-image: url(../images/icons.png);
            background-repeat: no-repeat;
            background-size: 500%;
        }

        li:nth-child(1) .nav-icon{
            background-position: (4rem / $piece) (-54rem / $piece);
        }

        li:nth-child(2) .nav-icon{
            background-position: (-183rem / $piece) (-54rem / $piece);
        }

        li:nth-child(3) .nav-icon{
            background-position: (-367rem / $piece) (-54rem / $piece);
        }

        li:nth-child(4) .nav-icon{
            background-position: (4rem / $piece) (-184rem / $piece);
        }

        li:nth-child(5) .nav-icon{
            background-position: (-183rem / $piece) (-184rem / $piece);
        }

        li:nth-child(6) .nav-icon{
            background-position: (-367rem / $piece) (-184rem / $piece);
        }


        .nav-title{
            font-size: (28rem / $piece); 
            font-weight: bold;   
        }
    }
}


.set{
    float: left;
    width: 100%;
    height: (400rem / $piece);
    background-color: #fff;
    padding-bottom: (25rem / $piece);

    .set-top{
        width: 100%;
        height: (80rem / $piece);
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        background-color: #ffffff;

        h2{
            font-size: (28rem / $piece);
            margin: (31rem / $piece) 0 (20rem / $piece) (20rem / $piece);
        }
    }

    .set-content{
        width: 100%;
        height: (100rem / $piece);
        background-color: #fff;

        .set-icon{
            float: left;
            width: (110rem / $piece);
            height: 100%;
            background-image: url(../images/icons.png);
            background-repeat: no-repeat;
            background-size: 500%;
        }

        .set-sent{
            float: left;
            width: (608rem / $piece);
            height: 100%;
            border-bottom: 1px solid #f3f3f3;
        }

        span{
            float: left;
            display:block;
            font-size: (30rem / $piece);
            padding: (32rem / $piece) 0 ;
        }

        img{
            float: right;
            width: (20rem / $piece);
            height: (40rem / $piece);
            margin: (30rem / $piece) (30rem / $piece) ;
        }
    }


    .set-content:nth-child(2) .set-icon{
        background-position: (25rem / $piece) (-354rem / $piece);
    }

    .set-content:nth-child(3) .set-icon{
        background-position: (-84rem / $piece) (-360rem / $piece);
    }

    .set-content:nth-child(4) .set-icon{
        background-position: (-180rem / $piece) (-347rem / $piece);
    }
}


footer{
    float: left;
    width: 100%;
    height: (100rem / $piece);
}

.footer-list{
    width: 100%;
    height: 100%;
    background-color: #fff;

    li{
        float: left;
        width: 25%;
        height: 100%;
        text-align: center;
        
        .footer-icon{
            width: (50rem / $piece);
            height: (50rem / $piece);
            margin: (7rem / $piece) auto;
            background-image: url(../images/icons.png);
            background-repeat: no-repeat;
            background-size: 1000%;
        }

        span{
            display: block;
            width: 100%;
            font-size: (24rem / $piece);
        }
    }

    li:nth-child(1) .footer-icon{
        background-position: (2rem / $piece) (-442rem / $piece);
    }

    li:nth-child(2) .footer-icon{
        background-position: (-92rem / $piece) (-443rem / $piece);
    }

    li:nth-child(3) .footer-icon{
        background-position: (-185rem / $piece) (-442rem / $piece);
    }

    li:nth-child(4) .footer-icon{
        background-position: (-287rem / $piece) (-442rem / $piece);
    }

    li:nth-child(4) span{
        color: #fa6c84;
    }

}



