body {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* 让字体变的平滑 不让字体出现毛刺(抗锯齿) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
