body,
html {
    height: 100%;
    background-color: #f7f7f7;
}

/* 头部 */
header {
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f3;
}

.top-left {
    float: left;
    height: 57px;



    img {
        float: left;
        padding: 6px 10px 6px 0;
    }

    span {
        float: left;
        display: block;
        line-height: 57px;
        padding: 0 19px;
    }
}


.top-right {
    float: right;
    height: 57px;

    span {
        float: left;
        display: block;
        line-height: 57px;
        padding: 0 10px;
    }
}


/* 主体 */
main {

    .nav {
        width: 100%;
        height: 334px;
        padding: 13px 0;

    }
}

.carousel {
    position: relative;
    float: left;
    width: 878px;
    height: 334px;
    margin-right: 20px;

    img {
        width: 100%;
        height: 334px;
    }
}

.carousel-nav {
    position: absolute;
    bottom: 29px;
    right: 414px;
    width: 45px;
    height: 15px;

    li {
        float: left;
        width: 8px;
        height: 8px;
        background-color: #ffffff;
        margin-right: 6px;
        margin-top: 7px;
    }

    li:nth-child(2) {
        width: 8px;
        height: 15px;
        margin-top: 0;
        background-color: #2cb82c;
    }
}


.news {
    position: relative;
    float: left;
    width: 236px;
    height: 331px;
    border: 1px solid #f0f0f0;
    border-top: 2px solid #4bc14b;
    background-color: #ffffff;

    .news-top {
        padding: 20px 0;
        height: 17px;
        margin-left: 10px;

        img {
            float: left;
            margin-right: 5px;
        }

        h3 {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .news-list {
        height: 273px;

        li {
            list-style: disc;
            font-size: 12px;
            font-weight: bold;
            padding: 10px 0;
            margin: 0 23px;
            color: #55565b;
        }

        li:nth-child(1) {
            color: #ff6b4e;
        }

        li:nth-child(4) {
            color: #ff6b4e;
        }
    }
}

.news-title {
    position: absolute;
    top: -15px;
    right: -46px;
    width: 25px;
    height: 104px;

    .line {
        width: 2px;
        height: 23px;
        background-color: #3fbe3f;
        margin: 0 10px;
    }

    .style-center {
        width: 24px;
        height: 80px;
        background-color: #3fbe3f;
        text-align: center;

        span {
            display: block;
            padding-top: 10px;
            font-size: 13px;
            color: #e9f7e2;
        }
    }
}

.hot-recommend {
    width: 100%;
    height: 170px;
    margin-right: 18px;
    margin-bottom: 45px;

    .hot-img {
        float: left;
    }
}

.hot-list {
    float: left;
    width: 236px;
    height: 166px;
    margin-left: 18px;
    background-color: #ffffff;
    border: 2px solid #f0f0f0;

    img {
        width: 100%;
        height: 86px;
    }

    h4 {
        margin: 10px 10px;
    }

    .price {
        margin: 0 10px;

        span {
            color: #ff734f;
            font-size: 13px;
            font-weight: bold;
        }

        del {
            color: #999999;
            font-size: 11px;
            text-decoration: line-through;
            font-weight: initial;
        }

        strong {
            float: right;
            color: #b7b9bf;
            font-size: 10px;
            font-weight: initial;
            line-height: 15px;
        }
    }
}


.work-course {
    width: 100%;
    height: 570px;
    margin-bottom: 20px;

    .work-title {
        font-size: 22px;
        margin-bottom: 16px;

        h2 {
            margin-bottom: 10px;
        }

        hr {
            color: #e8e8e8;
        }
    }

    .work-nav-list {
        height: 28px;
        margin-bottom: 20px;

        li {
            float: left;
            padding: 5px 10px;
            margin-right: 30px;
        }

        li:nth-child(1) {
            color: #34bb3d;
            border: 2px solid #70cd70;
        }
    }
}


.work-list {
    position: relative;
    float: left;
    width: 270px;
    height: 212px;
    margin-right: 14px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 2px solid #f0f0f0;

    .player {
        position: absolute;
        top: -4px;
        right: 14px;
        width: 35px;
        height: 25px;
        background-color: #2cb82d;
        color: #e2f2cd;
        text-align: center;
        line-height: 25px;
    }

    img {
        width: 100%;
        height: 130px;
    }

    h4 {
        margin: 10px 10px;
    }

    .hour {
        margin: 5px 10px;
        color: #c0b9ba;
    }

    .price {
        margin: 0 10px;

        span {
            color: #ff734f;
            font-size: 13px;
            font-weight: bold;
        }

        del {
            color: #999999;
            font-size: 11px;
            text-decoration: line-through;
            font-weight: initial;
        }

        strong {
            float: right;
            color: #b7b9bf;
            font-size: 10px;
            font-weight: initial;
            line-height: 15px;
        }
    }
}

.work-list-last {
    position: relative;
    float: left;
    width: 270px;
    height: 212px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 2px solid #f0f0f0;

    .player {
        position: absolute;
        top: -4px;
        right: 14px;
        width: 35px;
        height: 25px;
        background-color: #2cb82d;
        color: #e2f2cd;
        text-align: center;
        line-height: 25px;
    }

    img {
        width: 100%;
        height: 130px;
    }

    h4 {
        margin: 10px 10px;
    }

    .hour {
        margin: 5px 10px;
        color: #c0b9ba;
    }

    .price {
        margin: 0 10px;

        span {
            color: #ff734f;
            font-size: 13px;
            font-weight: bold;
        }

        del {
            color: #999999;
            font-size: 11px;
            text-decoration: line-through;
            font-weight: initial;
        }

        strong {
            float: right;
            color: #b7b9bf;
            font-size: 10px;
            font-weight: initial;
            line-height: 15px;
        }
    }
}


.student-story {
    height: 250px;
    margin-bottom: 40px;

    .page {
        float: right;

        div {
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 3px;
            background-color: #ffffff;
            color: #c2c5d5;
            border: 2px solid #ebebeb;
            text-align: center;
            line-height: 30px;
        }

        div:nth-child(1) {
            background-color: #2cb82c;
            color: #bfe690;
        }

        div:nth-child(3) {
            margin-left: 10px;
        }
    }

    h2 {
        float: left;
        width: 100%;
        font-size: 22px;
        margin-bottom: 13px;
    }
}

.story-list {
    float: left;
    width: 320px;
    height: 120px;
    border: 1px solid #fafafa;
    padding: 30px 23px 22px 20px;
    margin-right: 15px;
    background-color: #ffffff;

    .story-user {
        float: left;
        width: 85px;
        height: 100%;


        img {
            float: left;
        }

        span {
            float: left;
            display: block;
            height: 15px;
            margin-top: 12px;
            margin-left: 20px;
        }
    }



    h4 {
        font-size: 13px;
        color: #36bd55;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    p {
        margin-left: 90px;
        line-height: 20px;

        span {
            font-size: 20px;
            color: #36bd55;
        }
    }
}

footer {
    background-color: #ffffff;

    .foot-nav {
        height: 154px;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f2f2f2;
    }
}

.foot-nav-left {
    float: left;
    width: 434px;
    padding-right: 40px;

    p {
        line-height: 20px;
        font-weight: initial;
    }
}

.foot-title {
    font-size: 18px;
    margin: 30px 0 20px 0;
}


.foot-nav-center {
    float: left;
    width: 230px;
    height: 100%;

    img {
        margin-right: 25px;
    }
}

.foot-nav-right {
    float: left;
    width: 436px;
    height: 100%;

    ul {
        li {
            float: left;
            margin-right: 25px;
            margin-bottom: 15px;
            font-weight: initial;
            font-size: 12px;
        }
    }
}

.foot-copyright {
    height: 80px;
    text-align: center;
    margin-top: 20px;

    ul {
        width: 300px;
        height: 15px;
        margin-bottom: 15px;
        margin-left: 414px;

        li {
            float: left;
        }

        li:nth-child(2n+1) {
            margin: 0 10px;
        }
    }
}