//份数
$copies : 20;

//一份所占像素
$each: 32;


@media screen and (width: 320px){
    html{
        font-size: (320px / $copies);
    }
}


@media screen and (width: 375px){
    html{
        font-size: (375px / $copies);
    }
}

@media screen and (width: 414px){
    html{
        font-size: (414px / $copies);
    }
}

@media screen and (width: 768px){
    html{
        font-size: (768px / $copies);
    }
}

@media screen and (width: 1024px){
    html{
        font-size: (1024px / $copies);
    }
}



body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f4f1;
}

/* 头部 */
header{
    position: relative;
    width: 100%;
    height: (88rem / $each);
    background-color: #ff9b25;
}

header i{
    position: absolute;
    top: (28rem / $each);
    left: (20rem / $each);
    width: (20rem / $each);
    height: (32rem / $each);
    background-image: url(../img/back_icon.png);
    background-size: (20rem / $each) (32rem / $each);

}

header span{
    font-size: (32rem / $each);
    line-height: (88rem / $each);
    margin-left: (56rem / $each);
    color: #fff;
}

/* 主体 */
main{
    height: (650rem / $each);
    background-color: #f7f4f1;
    padding: (20rem / $each);
}

/* 主体 标题 */
.main-nav{
    width: 100%;
    height: (35rem / $each);
    padding-bottom: (25rem / $each);
} 

.nav-left{
    float: left;
    font-size: (32rem / $each);
    color: #191919;
}

.nav-right{
    float: right;
    font-size: (32rem / $each);
    color: #9f9f9e;
}


/* 主体 内容 */
.main-content{
    height: (228rem / $each);
    border: 2px dashed #dfdfdf;
    text-align: center;
    margin-bottom: (30rem / $each);
    background-color: #fff;

    img{
        width: (107rem / $each);
        height: (107rem / $each);
        padding-top: (30rem / $each);
        padding-bottom: (5rem / $each);
    }

    span{
        display: block;
        text-align: center;
        font-size: (32rem / $each);
        color: #b3b3b3;
    }
}

/* 尾部 */
footer{
    height: (243rem / $each);
    padding: (20rem / $each);

    p{
        margin: 0;
        line-height: (37rem / $each);
        font-size: (22rem / $each);
        color: #b0afaf;
        // text-align: center;
    }
}






