body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666666;
}

@media screen and (width: 1280px) {
    .container {
        width: 1280px;
    }
}

.header {
    padding-left: 0px !important;
}

.logo {
    background-color: #429ad9;

    a {
        display: block;

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

nav {
    border-bottom: 1px solid #ccc;
    background-color: #eeeeee;

    li {
        width: 100%;
        height: 50px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 50px;
            padding-left: 28px;
            font-size: 16px;

            i {
                top: 2px !important;
                margin-right: 5px;
            }
        }
    }

    a:hover {
        color: #333333;
        background-color: #ffffff;
        text-decoration: none;
    }
}


.news {
    width: 100%;
    border-bottom: 1px solid #ccc;


    li {
        width: 25%;
        height: 128px;
        float: left;
        margin-bottom: 10px;
        padding-right: 10px;
    }

    li:first-child {
        width: 50%;
        height: 266px;

        p {
            font-size: 20px;
            line-height: 40px;
        }
    }


    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }


    img {
        width: 100%;
        height: 100%;
    }

    .news-title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding-left: 5px;
        margin: 0;
        font-size: 12px;
    }
}



.publish>.row {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #cccccc;

    img {
        width: 100%;
    }
}


footer {

    a {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .hot{
        position: relative;
        margin-top: 20px;
        padding: 0 20px;
        padding-top: 60px;
        padding-bottom: 30px;
        border: 1px solid #cccccc;

        button{
            position: absolute;
            top:0;
            border-radius: 0;
        }

        p {
            display: block;

            width: 100%;

            height: 30px;


            margin: 0;

            font-size: 12px;

            // 显示模式
            display: -webkit-box;

            // 显示几行
            -webkit-line-clamp: 2;

            //出现省略号
            text-overflow: ellipsis;

            //竖排显示
            -webkit-box-orient: vertical;

            //超出隐藏
            overflow: hidden;
        }
    }
}


/* 响应式调节 */
/* 手机 */
@media screen and (max-width: 767px) {
    header .logo a:hover {
      text-decoration: none;
    }
    header .logo span {
      display: block;
      text-align: center;
      color: #fff;
      font-size: 18px;
      line-height: 50px;
    }
  
    nav {
      margin-bottom: 10px;
    }
  
    nav li {
      float: left;
      width: 20%;
      height: 50px;
    }
  
    nav a {
      font-size: 14px;
      padding-left: 0;
    }
  
    .news li:first-child {
      width: 100%;
    }
  
    .news li {
      width: 50%;
     
    }
  
    .publish h3 {
      font-size: 14px;
    }
  }

  /* 平板 */
  @media screen and (min-width: 768px) {
    /* header中的导航 */
    nav {
      margin-bottom: 10px;
    }
    nav li {
      float: left;
      width: 20%;
      height: 50px;
    }
  }
  
  @media screen and (min-width: 992px) {
    /* header中的导航 */
    nav {
      margin-bottom: 0px;
    }
    nav li {
      float: none;
      width: 100%;
      height: 50px;
    }
  }