<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Blog - Content Manager</title>
    <title>用户登录</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    {{block 'link'}}{{/block}}
</head>

<body>
    {{block 'main'}}{{/block}}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script> -->
    <script src="/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/artTemplate/template-web.js"></script>
    <script src="/lib/moment/moment-2.24.0.js"></script>
    <!-- 引入前台模板引擎 -->
    <script>
      //修改标准语法的界定符规则
      // template.defaults.rules[1].test = /{&([@#]?)[ \t]*(\/?)([\w\W]*?)[ \t]*&}/;
      template.defaults.rules[1].test = /{& ([@#]?)[ \t]*(\/?)([\w\W]*?)[ \t]*&}/;
    </script>


    <!-- <script src="/js/common.js"></script> -->
    {{block 'script'}}{{/block}}
</body>

</html>