.nav_left{
    float: left;
    width: 20%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_content{
    float: left;
    width: 80%;
    height: 100%;
}

.check_color{
    color: red;
}
