.next_item {
    background-image: url("../../Assets/2-2.png");
  }
  
  .submit_item {
    background-image: url("../../Assets/3-1.png");
  }
  
  .item_back {
    background-image: url("../../Assets/2-1.png");
    background-size: 100% 100%;
  }
  
  .item_title {
    font-size: 0.65rem;
    color: #fff;
    line-height: 0.7rem;
  }
  
  .item_list_container {
    margin: 2.5rem;
    padding: 0;
  }
  
  .item_list {
    font-size: 0;
    margin-top: 0.4rem;
    width: 10rem;
  }

  .item_list span {
    display: inline-block;
    font-size: 0.6rem;
    color: #fff;
    vertical-align: middle;
  }

  .item_list .option_style {
    height: 0.725rem;
    width: 0.725rem;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 0.725rem;
    text-align: center;
    margin-right: 0.3rem;
    font-size: 0.5rem;
    font-family: "Arial";
  }

  .item_list .has_choosed {
    background-color: #ffd400;
    color: #575757;
    border-color: #ffd400;
  }

  .item_list .option_detail {
    width: 7.5rem;
    padding-top: 0.11rem;
  }