//份数
$copies : 20;

//一份所占像素
$each: 32;

@media screen and (width: 320px) {
    html {
        font-size: (320px / $copies);
    }
}


@media screen and (width: 375px) {
    html {
        font-size: (375px / $copies);
    }
}

@media screen and (width: 414px) {
    html {
        font-size: (414px / $copies);
    }
}

@media screen and (width: 768px) {
    html {
        font-size: (768px / $copies);
    }
}

@media screen and (width: 1024px) {
    html {
        font-size: (1024px / $copies);
    }
}

@media screen and (width: 1536px) {
    html {
        font-size: (1536px / $copies);
    }
}


body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f4f1;
}

/* 头部 */
header {
    position: relative;
    width: 100%;
    height: (88rem / $each);
    background-color: #ff9b25;
    margin-bottom: (35rem / $each);
}

header i {
    position: absolute;
    top: (28rem / $each);
    left: (20rem / $each);
    width: (20rem / $each);
    height: (32rem / $each);
    background-image: url(../img/back_icon.png);
    background-size: (20rem / $each) (32rem / $each);

}

header span {
    font-size: (32rem / $each);
    line-height: (88rem / $each);
    margin-left: (56rem / $each);
    color: #fff;
}


main{
    height: (430rem / $each);
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: (46rem / $each);


    .main-facevalue{
        height: (107rem / $each);
        font-size: (32rem / $each);
        color: #717171;
        border-bottom: 1px solid #ebebeb;
        line-height: (107rem / $each);
    
        h1{
            float: left;
            color: #717171;
            margin: 0;
            font-size: (32rem / $each);
            font-weight: initial;
            line-height: (105rem / $each);
            padding-left: (25rem / $each);
        }

        .money{
            float: right;
            color: #d3d3d3;
            font-size: (32rem / $each);
            line-height: (105rem / $each);
            margin-right: (22rem / $each);
        }
    }


    .main-useneed{
        position: relative;
        height: (107rem / $each);
        font-size: (32rem / $each);
        color: #717171;
        border-bottom: 1px solid #ebebeb;
        line-height: (107rem / $each);


        h1{
            float: left;
            color: #717171;
            margin: 0;
            font-size: (32rem / $each);
            font-weight: initial;
            line-height: (90rem / $each);
            padding-left: (25rem / $each);
        }

        .note{
            position: absolute;
            top: (35rem / $each);
            left: (29rem / $each);
            width: (250rem / $each);
            height: (21rem / $each);
            font-size: (21rem / $each);
            color: #cccccc;
        }

        .money{
            float: right;
            color: #d3d3d3;
            font-size: (32rem / $each);
            line-height: (87rem / $each);
            margin-right: (22rem / $each);
        }
    }

    .main-canusetime{
        float: left;
        width: 100%;
        height: (105rem / $each);
        font-size: (32rem / $each);
        line-height: (70rem / $each);
        border-bottom: 1px solid #ebebeb;

        h1{
            float: left;
            color: #717171;
            margin: 0;
            font-size: (32rem / $each);
            font-weight: initial;
            line-height: (90rem / $each);
            padding-left: (25rem / $each);
        }

        .time{
            float: right;
            color: #bfbfbf;
            font-size: (25rem / $each);
            line-height: (105rem / $each);
            margin-right: (22rem / $each);
        }
    }


    .main-showcount{
        float: left;
        width: 100%;
        height: (105rem / $each);
        font-size: (32rem / $each);
        line-height: (70rem / $each);
        border-bottom: 1px solid #ebebeb;

        h1{
            float: left;
            color: #717171;
            margin: 0;
            font-size: (32rem / $each);
            font-weight: initial;
            line-height: (90rem / $each);
            padding-left: (25rem / $each);
        }
    }
}


.button-save{
    float: left;
    width: 95%;
    margin: 0 (20rem / $each) (158rem / $each);
    height: (80rem / $each);
    background-color: #ff9b25;
    border-radius: 5px;
    text-align: center;
    color: #ffeddb;
    font-size: (40rem / $each);
    line-height: (80rem / $each);
}


/* 尾部 */
footer {
    height: 7.59375rem;
    padding: 0.625rem;
  }
  
  footer p {
    margin: 0;
    line-height: 1.15625rem;
    font-size: 0.6875rem;
    color: #b0afaf;
  }
